:root {
  --primary-color: #092c56;
  --secondary-color: #dce5f5;
}

h1,
h2 {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 15px;
}

h1 {
  font-weight: bold;
  font-size: 46px;
}

h2 {
  font-size: 34px;
}

h3 {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  margin: 10px;
}

.button {
  display: block;
  text-align: center;
  padding: 40px;
}

.btn-contact {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  padding: 15px 30px;
  line-height: 1.5;
  pointer-events: none;
}

.introduction {
  background-color: var(--secondary-color);
  padding: 60px 20px;
  margin-bottom: 20px;
}

.container-home {
  border: 2px solid var(--primary-color);
}

.home-description {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 20px;
  color: var(--primary-color);
}

.btn-gallery {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 20px;
  line-height: 1.5;
  pointer-events: none;
}

.home-image {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 230px;
}

@media (min-width: 600px) {
  .home-image {
    width: 330px;
  }
}

@media (min-width: 800px) {
  .home-image {
    width: 430px;
  }
}
