h1,
h2,
h3 {
  color: #092c56;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.button {
  display: block;
  text-align: center;
}

.btn-contact {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #dce5f5;
  background-color: #052d70;
  border: 1px solid #092c56;
  border-radius: 5px;
  padding: 10px 20px;
  line-height: 1.5;
}

.introduction {
  background-color: #dce5f5;
}
